.idea
bin
obj
browser
*.sln
browser
Platforms/Android/Assets/browser
*.db
*.csproj.user
realeses
realeses.zip
releases
releases.zip

GenerateCertificate.ps1
Platforms/Windows/Package.appxmanifest
Platforms/Windows/Package.appxmanifest
*.keystore
androidsideloadpublish.ps1
