#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Password Saver
Exec=PasswordSaver
Icon=com.JCOpenSoftware.PasswordSaver
Type=Application
Terminal=false
Categories=Utility;